# Original versions from starter code
Flask==1.0.2            # Requires Python >= 3.4
pandas==0.24.2          # Requires Python >= 3.5
scikit-learn==0.20.3    # Requires Python >= 3.4

# Added to allow linting and tests + coverage
pylint==2.6.0           # Requires Python >= 3.5
pytest==6.0.2           # Requires Python >= 3.5 
pytest-cov==2.10.1      # Requires Python >= 3.5

# According to projects specs locust just has to run when webapp is deployed
#locust                 # not required for deployment
#nbval==0.9.6           # notebook tests wont be used